.container {
    width: 60vw;
    height: 100vh;
    margin: auto;
    padding-top: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-left {
    color: #2d2d81;
    float: left;
    width: 25%;
    padding-right: 4rem;

}
.container-profile{
    text-align: center;
    padding-bottom: 10vh;
}

.container-right{
    margin-left: 35%;
}

.heading {
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 1rem;
    color: #2d2d81;
}

.sub-heading {
    color: #2d2d81;
  
}

p {
    color: #3171a5;
    font-size: .9em;
    padding-bottom: 2rem;
}

.container-experience{
    padding-bottom: 2rem;
}
img {
    border-radius: 50rem;
    height: 15vh;
}

button {
    background-color: #5050d2;
    border-color: #5042e7;
    color: #ffffff;
    border-radius: .5rem ;
    padding: .5rem;
    margin: 1.5rem;
    cursor: pointer;
}

.hours {
    color: black;
    float: right;
    padding: .4rem .5rem;
    width: 7vw;
    text-align: center;
    background-color: #e1f1ec;
    border-radius: 1.5rem;
    font-weight: 530;    
}

.sub-informations {
    padding-top: 1.5rem;
    font-size: small; 
    color: #9eb6ca;
    padding-bottom: 10px;
}

.duration {
    float: right;
}

.company-name {
    margin-right: 5vh;
}
/* for horizontal line */
.options, .role-information,
.education-information {
    border-bottom: 1px solid #e1edef;
    padding: 10px 0px;
}
